/* $prefix: 'm'; */

.m-flex {
   display: flex;

   &.m-center, .m-start, .m-end, .m-between, .m-around { align-items: center; }
   &.m-center { justify-content: center; }
   &.m-start { justify-content: flex-start; }
   &.m-end { justify-content: flex-end; }
   &.m-between { justify-content: space-between; }
   &.m-around { justify-content: space-around; }

   &.m-column { flex-direction: column; }
}

.m-transition {
   transition: all 0.3s ease-in-out;
}